{% extends "main.html" %}
{% import "native_macros.html" as macros with context %}

{% block site_nav %}
    {{ super() }}

    {% call macros.sidebar() %}
        {{ macros.related_items(
            items=queries.related_violations(
                this=page.iri
            ),
            title='Related Violations',
            item_template_path='partials/violation_link.html'
        ) }}

        {{ macros.related_items(
            items=queries.versions(
                this=page.iri
            ),
            title='Versions',
            item_template_path='partials/version-link.html'
        ) }}
    {% endcall %}
{% endblock %}


{% block content %}
    {{ super() }}

    <table>
        <tr>
            <th>Command Line Option</th>
            <td>
                <code>{{ page.meta.cli_name }}</code>
            </td>
        </tr>

        <tr>
            <th>Default Value</th>
            <td>
                <code>{{ page.meta.value }}</code>
                {% if page.meta.reasoning %}
                    <em>({{ page.meta.reasoning }})</em>
                {% endif %}
            </td>
        </tr>
    </table>
{% endblock %}
