{% set constants = queries.related_constants(
    violation_page=page.iri
) %}

{% if constants %}
    <div
            class="md-sidebar md-sidebar--secondary"
            data-md-component="sidebar"
            data-md-type="toc"
    >
        <div class="md-sidebar__scrollwrap">
            <div class="md-sidebar__inner">
                <nav class="md-nav md-nav--secondary">
                    <label class="md-nav__title" for="__toc">
                        Related Constants
                    </label>
                    <ul class="md-nav__list" data-md-component="toc"
                        data-md-scrollfix>
                        {% for constant in constants %}
                            <li class="md-nav__item">
                                <a href="{{ constant.url }}"
                                   class="md-nav__link">
                                    {{ constant.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endif %}
