<style>
#plugins::after {
    clear:both;
}

#plugins .admonition {
    float: left;
    margin-right: 1em;
    min-width: 200px;
}

#plugins p {
    text-align: center;
}

#plugins .title {
    font-size: 3em;
    font-weight: bold;
}
</style>

<div id="plugins">
    {% for item in plugins %}
        <div class="admonition">
            <p class="title">
                <a href="{{ item.url }}">
                    {{ item.prefix }}
                </a>
            </p>
            <p>{{ item.title }}</p>
            <p>{{ item.version_number }}</p>
        </div>
    {% endfor %}
</div>
