{% extends "main.html" %}
{% import "native_macros.html" as macros with context %}

{# I had to copy-paste the content of `content` block to remove the <h1> hack #}
{% block content %}
    {{ super() }}

    <h2>Violations</h2>

    <ul style="column-count: 2">
        {% for violation in queries.violations(iri=page.iri) %}
            <li>
                <strong>
                    <code>{{ violation.code.value }}</code>
                </strong>
                <a href="{{ violation.url }}">{{ violation.title }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}


{% block footer %}
    {% include "partials/footer-without-links.html" %}
{% endblock %}
