{% extends "main.html" %}
{% import "native_macros.html" as macros with context %}

{# I had to copy-paste the content of `content` block to remove the <h1> hack #}
{% block content %}
    {{ macros.breadcrumbs(page) }}
    <h1><strong><code>{{ page.meta.code }}</code></strong> {{ page.meta.title }}</h1>

    <!-- Markdown content -->
    {{ page.content }}

    {% if page.meta.extra %}
        <h2>Extra parameters</h2>

        These are defined by `flake8-bugbear` in the code and define the behavior of the violation. That's why we decided to print them here, for your reference.

        <table>
        <thead>
            <tr>
                <th>Parameter</th>
                <th>Value</th>
            </tr>
        </thead>
        {% for key, value in page.meta.extra.items() %}
            <tr>
                <th>{{ key }}</th>
                <td>
                    {% if value is iterable and value is sequence and value is not string %}
                        <ul>
                            {% for item in value %}
                                <li>{{ item }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        {{ value }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}

    <!-- Last update of source file -->
    {% if page and page.meta %}
      {% if page.meta.git_revision_date_localized or
            page.meta.revision_date
      %}
        {% include "partials/source-file.html" %}
      {% endif %}
    {% endif %}
{% endblock %}


{% block _archived_site_nav %}
    {{ super() }}

    {% call macros.sidebar() %}
        {{ macros.related_items(
            items=queries.related_violations(this=page.iri),
            title='Related Violations',
            item_template_path='partials/violation_link.html'
        ) }}

        {{ macros.related_items(
            items=queries.related_configuration_parameters(
                violation=page.iri
            ),
            title='Related Configuration Parameters',
            item_template_path='partials/link.html'
        ) }}

        {{ macros.related_items(
            items=queries.related_constants(
                violation_page=page.iri
            ),
            title='Related Constants',
            item_template_path='partials/link.html'
        ) }}
    {% endcall %}
{% endblock %}
