{% extends "main.html" %}
{% import "native_macros.html" as macros with context %}


{% block site_nav %}
    {{ super() }}

    {{ macros.related_items(
        items=queries.related_violations(
            this=page.iri
        ),
        title='Related Violations',
        item_template_path='partials/violation_link.html'
    ) }}
{% endblock %}


{% block content %}
    {{ super() }}

    <h2>Value</h2>
    {% if page.meta.value is iterable and page.meta.value is not string %}
        <ul>
            {% for item in page.meta.value %}
                <li><code>{{ item }}</code></li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>{{ page.meta.value }}</strong>
    {% endif %}
{% endblock %}
