{% macro related_items(items, title, item_template_path) %}
    {% if items %}
        <nav class="md-nav md-nav--secondary related-items">
            <label class="md-nav__title" for="__toc">
                {{ title }}
            </label>
            <ul class="md-nav__list" data-md-component="toc"
                data-md-scrollfix>
                {% for item in items %}
                    <li class="md-nav__item">
                        {% include item_template_path with context %}
                    </li>
                {% endfor %}
            </ul>
        </nav>
    {% endif %}
{% endmacro %}


{% macro sidebar() %}
    {# Draw the sidebar. #}
    {% set related_items = caller().strip() %}

    {% if related_items %}
        <div
            class="md-sidebar md-sidebar--secondary"
            data-md-component="sidebar"
            data-md-type="toc"
        >
            <div class="md-sidebar__scrollwrap">
                <div class="md-sidebar__inner">
                    {{ related_items }}
                </div>
            </div>
        </div>
    {% endif %}
{% endmacro %}
