{% macro related_items(items, title, item_template_path) %}
    {% if items %}
        <nav class="md-nav md-nav--secondary related-items">
            <label class="md-nav__title" for="__toc">
                {{ title }}
            </label>
            <ul class="md-nav__list" data-md-component="toc"
                data-md-scrollfix>
                {% for item in items %}
                    <li class="md-nav__item">
                        {% include item_template_path with context %}
                    </li>
                {% endfor %}
            </ul>
        </nav>
    {% endif %}
{% endmacro %}


{% macro sidebar() %}
    {# Draw the sidebar. #}
    {% set related_items = caller().strip() %}

    {% if related_items %}
        <div
            class="md-sidebar md-sidebar--secondary"
            data-md-component="sidebar"
            data-md-type="toc"
        >
            <div class="md-sidebar__scrollwrap">
                <div class="md-sidebar__inner">
                    {{ related_items }}
                </div>
            </div>
        </div>
    {% endif %}
{% endmacro %}


{% macro breadcrumbs(navigation_item) %}
    {# This macro is incredibly hacky. I have warned you. #}
    {% for item in navigation_item.ancestors|reverse %}
        {% if not loop.first %}
        ›
        {% endif %}

        {% if item.is_page %}
            <a href="/{{ item.url }}">{{ item.title }}</a>
        {% elif item.is_section %}
            {# We find index.md in the section based on the is_page flag and
            the stem of the file name. #}
            {% set index_page = item.children|selectattr('is_page')|selectattr('file.name', 'eq', 'index')|first %}

            {% if index_page %}
                <a href="/{{ index_page.url }}">{{ index_page.title }}</a>
            {% else %}
                {{ item.title }}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endmacro %}
