{% extends "main.html" %}


{% block content %}
    {{ super() }}

    <table>
        <tr>
            <th>Command Line Option</th>
            <td>
                <code>{{ page.meta.cli_name }}</code>
            </td>
        </tr>

        <tr>
            <th>Default Value</th>
            <td>
                <code>{{ page.meta.value }}</code>
                {% if page.meta.reasoning %}
                    <em>({{ page.meta.reasoning }})</em>
                {% endif %}
            </td>
        </tr>
    </table>
{% endblock %}
